<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Coordinates</key>
	<array>
		<dict>
			<key>age</key>
			<integer>5</integer>
			<key>proximity</key>
			<real>0.02</real>
			<key>tweetID</key>
			<integer>12</integer>
			<key>username</key>
			<string>username1</string>
			<key>tweet</key>
			<string>here&apos;s another tweet</string>
			<key>longitude</key>
			<real>-79.0550677</real>
			<key>latitude</key>
			<real>35.9134149</real>
		</dict>
		<dict>
			<key>age</key>
			<integer>7</integer>
			<key>proximity</key>
			<real>0.04</real>
			<key>username</key>
			<string>username2</string>
			<key>tweetID</key>
			<integer>34</integer>
			<key>tweet</key>
			<string>sample tweet hello</string>
			<key>longitude</key>
			<real>-79.05426900000001</real>
			<key>latitude</key>
			<real>35.914078</real>
		</dict>
		<dict>
			<key>age</key>
			<integer>53</integer>
			<key>proximity</key>
			<real>0.08</real>
			<key>tweetID</key>
			<real>45</real>
			<key>username</key>
			<string>username3</string>
			<key>tweet</key>
			<string>here is a sample tweet</string>
			<key>longitude</key>
			<real>-79.0604996</real>
			<key>latitude</key>
			<real>35.9113011</real>
		</dict>
		<dict>
			<key>age</key>
			<integer>52</integer>
			<key>proximity</key>
			<integer>1</integer>
			<key>tweetID</key>
			<real>87</real>
			<key>username</key>
			<string>username4</string>
			<key>tweet</key>
			<string>sample tweet</string>
			<key>longitude</key>
			<real>-79.0721647</real>
			<key>latitude</key>
			<real>35.9103201</real>
		</dict>
		<dict>
			<key>age</key>
			<integer>24</integer>
			<key>proximity</key>
			<real>1.3</real>
			<key>tweetID</key>
			<real>78</real>
			<key>username</key>
			<string>username5</string>
			<key>tweet</key>
			<string>chapel hill tweets</string>
			<key>longitude</key>
			<real>-79.07295999999999</real>
			<key>latitude</key>
			<real>35.910491</real>
		</dict>
		<dict>
			<key>age</key>
			<integer>42</integer>
			<key>proximity</key>
			<real>1.5</real>
			<key>tweetID</key>
			<real>87</real>
			<key>username</key>
			<string>username6</string>
			<key>tweet</key>
			<string>hello world</string>
			<key>longitude</key>
			<real>-79.0590108</real>
			<key>latitude</key>
			<real>35.9121227</real>
		</dict>
		<dict>
			<key>age</key>
			<integer>64</integer>
			<key>proximity</key>
			<real>1.6</real>
			<key>tweetID</key>
			<real>23</real>
			<key>username</key>
			<string>username7</string>
			<key>tweet</key>
			<string>this is a tweet for the twitter feed</string>
			<key>longitude</key>
			<real>-79.0625354</real>
			<key>latitude</key>
			<real>35.9106981</real>
		</dict>
		<dict>
			<key>age</key>
			<integer>94</integer>
			<key>proximity</key>
			<real>1.9</real>
			<key>tweetID</key>
			<real>34</real>
			<key>username</key>
			<string>username8</string>
			<key>tweet</key>
			<string>tweet tweet</string>
			<key>longitude</key>
			<real>-79.0637784</real>
			<key>latitude</key>
			<real>35.9111865</real>
		</dict>
		<dict>
			<key>age</key>
			<integer>23</integer>
			<key>proximity</key>
			<real>2</real>
			<key>tweetID</key>
			<real>23</real>
			<key>username</key>
			<string>username9</string>
			<key>tweet</key>
			<string>here&apos;s another tweet</string>
			<key>longitude</key>
			<real>-79.0657882</real>
			<key>latitude</key>
			<real>35.909517</real>
		</dict>
		<dict>
			<key>age</key>
			<integer>51</integer>
			<key>proximity</key>
			<real>2.3</real>
			<key>tweetID</key>
			<real>89</real>
			<key>username</key>
			<string>username10</string>
			<key>tweet</key>
			<string>another tweet</string>
			<key>longitude</key>
			<real>-79.0650007</real>
			<key>latitude</key>
			<real>35.9098021</real>
		</dict>
		<dict>
			<key>age</key>
			<integer>80</integer>
			<key>proximity</key>
			<real>2.5</real>
			<key>tweetID</key>
			<real>78</real>
			<key>username</key>
			<string>username11</string>
			<key>tweet</key>
			<string>Hello!</string>
			<key>longitude</key>
			<real>-79.06398489999999</real>
			<key>latitude</key>
			<real>35.9053064</real>
		</dict>
	</array>
</dict>
</plist>
